.ca-schedule {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  background: #f5f5f5;
  min-height: 250px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 250px;
}
.ca-schedule table {
  border-collapse: collapse;
  border: 1px solid #dddddd;
}
.ca-schedule table thead th {
  background: #dddddd;
  width: 100px;
}
.ca-schedule table thead th:first-child {
  width: auto;
}
.ca-schedule table thead th.today {
  background: #CACACA;
}
.ca-schedule table .time {
  background: #dddddd;
  padding: 0px 5px;
}
.ca-schedule table tr.nsharp td {
  border-bottom: 1px dashed #dddddd;
}
.ca-schedule table tr:last-child td {
  border-bottom: 1px solid #dddddd;
}
.ca-schedule table .slot {
  height: 30px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.ca-schedule table .slot:last-child {
  border-right: 0;
}
.ca-schedule table .slot.available {
  background: green;
}
