@schedule-background:#F5F5F5;
@schedule-available-background:#8BD19B;
@schedule-highlight:#DDD;
@schedule-dissalowed:red;
@schedule-head-background:#DDD;

.ca-schedule {
    
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;

    background:@schedule-background;

    min-height: 250px;

    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    
    zoom: 1;
    *display: inline;
    _height: 250px;

    table {
        
        border-collapse: collapse;
        border:1px solid @schedule-head-background;
        thead {
            
            th {
                background:@schedule-head-background;
                width:100px;
                &:first-child{
                    width:auto;
                }

                &.today{
                    background:#CACACA;
                }
            }
        }
        
        .time {
            background:@schedule-head-background;
            padding:0px 5px;
        }

        tr.nsharp td {
            border-bottom:1px dashed @schedule-highlight;
        }

        tr:last-child td {
            border-bottom:1px solid @schedule-highlight;
        }

        .slot {
            height:30px;
            border-bottom:1px solid @schedule-highlight;
            border-right:1px solid @schedule-highlight;
            &:last-child{
                border-right:0;
            }
            &.available{
                background:green;
            }
        }
    }
}